[user]
	name = Takuya \"Mura-Mi\" Murakami
	email = mura.mi.nantoka@gmail.com
[alias]
	st = status
	b = branch
  ba = branch -a
  br = branch -r
  bd = branch -d
  bar = branch -ar
  bd = branch -d
  co = checkout
  cob = checkout -b
  cb = checkout -b
  lg = log --oneline
  di = diff
  df = diff
  ad = add
  rb = rebase

[core]
	editor = /usr/bin/vim
